@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --blue: #0659a7;
  --dark-blue: #1b325e;
  --white: #ffffff;
  --black: #000000;
  --grey: #fafafa;
  --dark-grey: #d9d9d942;
  --green: #25d366;
}

* {
  margin: 0;
  padding: 0;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.container-fluid {
  padding: 5% 5% 5% 10%;
}

.bg-grey {
  background-color: var(--dark-grey);
}

.btn {
  background-color: var(--dark-blue);
}

.footer {
  background-color: var(--dark-blue);
}

.title {
  color: var(--blue);
  font-family: "Poppins", sans-serif;
}

.text {
  font-family: "Poppins", sans-serif;
}

.btn-text{
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.nav-container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--grey);
  height: 100%;
  padding-top: 20px;
  z-index: 5;
}

.nav-container .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-container .side-nav .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.nav-container .side-nav .nav-menu .nav-item {
  rotate: 270deg;
  font-family: "Poppins", sans-serif;
  margin-top: 4rem !important;
  margin-bottom: 3rem;
}

.nav-item a::after {
  content: "";
  position: absolute;
  background-color: var(--blue);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}

.nav-item a:hover::after {
  width: 100%;
}

/* NAVBAR TABLET & MOBILE */
.top-nav {
  background-color: var(--grey);
}

.top-nav .container .offcanvas {
  right: -12rem;
  background-color: var(--grey);
}

.top-nav .container .offcanvas .offcanvas-header {
  margin-top: 5%;
}

.top-nav .container .navbar-toggler {
  background-color: var(--grey);
}

.top-nav .container .offcanvas .navbar-nav .dropdown-menu {
  background-color: var(--grey);
}

body > nav.top-nav.navbar.bg-light.sticky-top.shadow-lg > div > button{
  color: var(--grey);
}

.top-nav .container .offcanvas .navbar-nav .nav-link:not(.show) {
  padding-bottom: 1.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--blue);
  color: var(--black);
}

.top-nav .container .offcanvas .navbar-nav .dropdown-menu.show {
  border: none;
  border-bottom: 1px solid var(--blue);
  border-radius: 0;
}

/* HOMEPAGE */
.homepage {
  min-height: 100vh;
  align-items: center;
  /* background-image: url("../img/banner-tricom.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.title-hp {
  font-family: "Rubik", sans-serif;
}

/* TESTIMONY */
.customer-testimony {
  background-color: var(--dark-blue);
}

.customer-testimony .title {
  color: var(--white);
  margin-bottom: 1.5rem !important;
}

.single-testimony {
  border: 0.15rem solid #ffffff;
  border-radius: 2rem;
  padding: 10%;
  margin: 0% 5%;
  height: 55vh;
}

/* update */

.single-testimony:before {
  content: "\f10d";
  font-family: FontAwesome;
  color: var(--white);
  font-size: 3rem;
  position: absolute;
  background: var(--dark-blue);
  left: 3px;
  top: -3px;
  width: 70px;
  height: 70px;
}

.single-testimony:after {
  content: "\f10e";
  font-family: FontAwesome;
  color: var(--white);
  font-size: 3rem;
  position: absolute;
  background: var(--dark-blue);
  right: -5px;
  bottom: -5px;
  width: 70px;
  height: 70px;
}

.owl-dots {
  margin-top: 2%;
  text-align: center;
}

.owl-dots button {
  background-color: #ffffff !important;
  width: 7px;
  height: 7px;
  border-radius: 2rem;
  margin-right: 1%;
  transition: 0.3s;
}

.owl-dots button.active {
  width: 15px;
}

.customer-testimony .testimony-content .single-testimony .text-testi{
  font-size: 12px;
}

/* SERVICES */
.col .card .r-services .col-.md-8 .card-body .card-text{
  padding-right: 5%;
}

/* MOBILE-SERVICES */
.mobile-services .services-content .card .card-body .text {
  text-align: justify;
}

.mobile-services .services-content .card .card-body .btn {
  justify-self: center;
  margin-top: 2%;
}

.mobile-services .services-content .owl-dots button {
  background-color: var(--blue) !important;
  border-radius: 1rem;
  margin-right: 1%;
  transition: 0.3s;
}

.mobile-services .services-content .owl-stage-outer .owl-stage .owl-item .card{
  height: 626px;
}

/* body > section.container-fluid.mobile-services.bg-grey > div > div.owl-stage-outer > div > div:nth-child(4) > div{
  height: 626px;
} */

/* OUR CLIENTS */
#our-clients .brand .col {
  align-self: center;
  cursor: pointer;
  filter: grayscale(1);
}

#our-clients .brand .col:hover {
  filter: grayscale(0);
}

#our-clients .brand {
  grid-gap: 1rem;
  padding: 1rem;
  margin-top: 0.5rem;
}

#our-clients .sub-clients {
  margin-bottom: 0rem !important;
}

#our-clients .title {
  margin-bottom: 1%;
}

/* ARTICLE */
#article {
  gap: 2%;
}

#article .owl-carousel .owl-nav {
  display: none;
}

#article .owl-carousel .owl-dots {
  display: none;
}

#article .owl-carousel .card{
  height: 420px;
}

#article .owl-carousel .card img{
  height: 50%;
}

#article .owl-carousel .card .card-footer{
  padding-bottom: 1rem;
}

/* FOOTER */
.footer {
  padding: 3% 10% 2% 15%;
}

body > footer > div > div.row.r-copyright > div > p {
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}

.footer .row .col-3{
  margin-bottom: 0.5rem;
}

.footer .row .col-4 img {
  width: 30% !important;
}

.footer .row .col-4 {
  margin-left: 0 !important;
}

.footer .row .page .c-title {
  font-size: 1.2rem !important;
}

.footer .row .page .list-group .list-group-item .text {
  font-size: 0.8rem !important;
}

.footer .row .r-copyright .col-10 {
  margin-right: 0.4rem !important;
}

.footer .row .r-copyright .copyright {
  font-size: 0.6rem;
}

body > footer > div > div.row.r-copyright > div > p {
  margin-top: -0.5rem;
}

/* .footer .row .r-copyright .col .social-icons .instagram {
  margin-right: 2rem !important;
} */

/* WHATSAPP */
.wa_btn{
  position: fixed;
  text-decoration: none;
  background-color: var(--green);
  right: 35px;
  bottom: 43px;
  padding: 3px 3px;
  z-index: 999;
}

.wa_btn i{
  font-size: 35px;
  padding: 0 10px;
  color: var(--white);
}

/* ABOUT US PAGE */
#about-us-page .title{
  margin-left: 17%;
  margin-bottom: -3%;
  padding-top: 5%;
}

/* SERVICES PAGE */
.social-media-page {
  padding-top: 45px;
  padding-bottom: 30px;
}

.list-group-item:hover {
  background-color: #0d6efd;
  color: var(--white);
}

.list-group-item.active-menu {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* ARTICLE PAGE */
#article-page .title{
  padding-top: 3%;
}

#article-page{
  padding: 6% 10% 0% 15%;
}

#article-page .row .col-10{
  width: 100%;
}

/* MEDIA QUERY */

/* MOBILE */
@media (min-width: 0px) and (max-width: 575px) {
  .side-nav {
    display: none;
  }

  .container-fluid {
    padding: 10%;
    padding-top: 7%;
  }

  .title {
    font-size: 1.3rem !important;
    text-align: center;
  }

  .text {
    font-size: 0.8rem !important;
  }

  .c-title {
    font-size: 1rem !important;
    color: var(--blue);
  }

  /* navbar */
  .top-nav .container .offcanvas {
    right: -12rem;
  }

  .top-nav .container .offcanvas .navbar-nav {
    margin-right: 12rem;
  }

  .top-nav .container .offcanvas .offcanvas-sosmed .text {
    margin-left: 1.2rem !important;
  }

  /* homepage */
  .title-hp {
    padding-top: 30%;
    font-size: 2rem;
  }

  .sub-title {
    padding-right: 35%;
  }

  /* about us */
  #about-us {
    padding-top: 10% !important;
  }

  #about-us .row {
    flex-direction: column-reverse;
  }

  #about-us .row .col .card-body {
    text-align: justify;
  }

  #about-us .row .col .card-title {
    font-size: 1rem !important;
    padding: 5% 2% 0 2%;
    text-align: center;
  }

  #about-us .row .col .card-body .btn {
    justify-self: center;
    margin-top: -5%;
  }

  /* service */
  #services {
    display: none;
  }

  .mobile-services .services-content .card .card-body .btn {
    width: 36%;
    font-size: 0.8rem !important;
  }

  .mobile-services .services-content .owl-dots button {
    width: 0.5rem;
    height: 0.3rem;
  }

  .mobile-services .services-content .owl-dots button.active {
    width: 15px;
  }

  /* testimony */
  .single-testimony {
    border: 0.2rem solid #ffffff !important;
    margin: 1% 1% !important;
    padding: 8% !important;
  }

  .single-testimony:before {
    font-size: 2.5rem !important;
    left: -0.5rem !important;
    top: -1.5rem !important;
    width: 4rem !important;
    height: 4rem !important;
  }

  .single-testimony:after {
    font-size: 2.5rem !important;
    right: -0.7rem !important;
    bottom: -0.6rem !important;
    width: 4rem !important;
    height: 4rem !important;
  }

  .customer-testimony .testimony-content .single-testimony .text-testi{
    font-size: 12px !important;
  }

  .customer-testimony .testimony-content .single-testimony{
    height: 342px;
  }

  /* clients */
  #our-clients .brand {
    grid-template-columns: repeat(3, 1fr);
  }

  /* article */
  #article .owl-carousel .card .card-body .text {
    text-align: justify;
  }

  /* contact */
  #contact .title {
    text-align: left;
  }

  #contact .r-info {
    display: grid;
    grid-template-columns: 12% auto;
  }

  .location {
    align-self: center;
    width: 20rem !important;
    height: 13rem !important;
  }

  /* footer */
  .footer {
    padding: 5% 10% 3% 10% !important;
    text-align: center;
  }

  .footer .row {
    justify-content: center;
  }

  .footer .page {
    display: none;
  }

  .footer .col-4 {
    margin-left: 0% !important;
    width: 80%;
  }

  .footer .row hr {
    display: none;
  }

  .footer .row .r-copyright {
    flex-direction: column-reverse;
  }

  .footer .row .r-copyright .col-10 {
    align-self: center;
    margin-right: 0 !important;
  }

  .footer .row .r-copyright .col-10 .copyright {
    font-size: 0.6rem !important;
  }

  /* .footer .row .r-copyright .col .social-icons .instagram {
    margin-right: 30% !important;
  } */

  /* about us page */
  #about-us-page > p{
    margin-left: -30% !important;
    margin-bottom: -10% !important;
    padding-top: 5% !important;
  }
}

/* MOBILE LANDSCAPE*/
@media (min-width: 576px) and (max-width: 767px){
  .side-nav {
    display: none;
  }

  .container-fluid {
    padding: 10%;
    padding-top: 7%;
  }

  .title {
    font-size: 1.5rem !important;
    text-align: center;
  }

  .text {
    font-size: 0.9rem !important;
  }

  .c-title {
    font-size: 1.2rem !important;
    color: var(--blue);
  }

  /* navbar */
  .top-nav .container .offcanvas {
    right: -8rem;
  }

  .top-nav .container .offcanvas .navbar-nav {
    margin-right: 8rem;
  }

  .top-nav .container .offcanvas .offcanvas-sosmed {
    margin-left: 5.5rem !important;
  }

  .top-nav .container .offcanvas .offcanvas-sosmed .text {
    margin-left: 0.5rem !important;
  }

  body > nav.top-nav.navbar.bg-light.sticky-top.shadow-lg > div > button {
    color: var(--grey);
  }

  /* homepage */
  .title-hp {
    font-size: 3.3rem;
  }

  .sub-title {
    font-size: 1rem;
    padding-right: 30%;
  }

  /* about us */
  #about-us .row {
    flex-direction: column-reverse;
  }

  #about-us .row .col .card-body {
    text-align: justify;
  }

  #about-us .row .col .card-title {
    font-size: 1.2rem !important;
    padding-top: 5%;
    text-align: center;
  }

  #about-us .row .col .card-body .btn {
    justify-self: center !important;
    margin-top: -3%;
  }

  /* service */
  #services {
    display: none;
  }

  .mobile-services .services-content .card img {
    height: 50rem !important;
  }

  .mobile-services .services-content .card .card-body .btn {
    width: 19%;
    font-size: 0.9rem !important;
  }

  .mobile-services .services-content .owl-dots button {
    width: 0.6rem;
    height: 0.4rem;
  }

  .mobile-services .services-content .owl-dots button.active {
    width: 18px;
  }

  /* clients */
  #our-clients .brand {
    grid-template-columns: repeat(3, 2fr);
    column-gap: 7% !important;
    width: 85%;
    margin-left: 8%;
  }

  /* testimony */
  .single-testimony {
    border: 0.2rem solid #ffffff !important;
    margin: 1% 1% !important;
    padding: 8% !important;
  }

  .single-testimony:before {
    font-size: 3rem !important;
    left: -0.5rem !important;
    top: -1.5rem !important;
    width: 5rem !important;
    height: 5rem !important;
  }

  .single-testimony:after {
    font-size: 3rem !important;
    right: -0.7rem !important;
    bottom: -0.6rem !important;
    width: 5rem !important;
    height: 5rem !important;
  }

  /* contact */
  #contact .title {
    text-align: left;
  }

  #contact .r-info {
    display: grid;
    grid-template-columns: 7% auto;
  }

  .location {
    align-self: center;
    width: 37rem !important;
    height: 15rem !important;
  }

  /* footer */
  .footer {
    padding: 5% 7% 1% 7% !important;
  }

  .footer .row .col-4 img {
    width: 50% !important;
  }

  .footer .row .col-4 {
    margin-left: 0 !important;
  }

  .footer .row .page .c-title {
    font-size: 1.2rem !important;
  }

  .footer .row .page .list-group .list-group-item .text {
    font-size: 0.8rem !important;
  }

  .footer .row .r-copyright .col-10 {
    margin-right: 0.4rem !important;
  }

  .footer .row .r-copyright .copyright {
    font-size: 0.6rem;
  }

  .footer .row .r-copyright .col .social-icons .instagram {
    margin-right: 2rem !important;
  }
}

/* TABLET LANDSCAPE*/
@media (min-width: 768px) and (max-width: 991px){
  .side-nav {
    display: none;
  }

  .title {
    font-size: 1.7rem !important;
  }

  .text {
    font-size: 0.9rem !important;
  }

  .c-title {
    font-size: 1.4rem !important;
    color: var(--blue);
  }

  /* homepage */
  .title-hp {
    font-size: 4rem;
  }

  .sub-title {
    font-size: 1.1rem;
    padding-right: 37%;
  }

  /* about us */
  #about-us .row {
    display: grid;
    grid-template-columns: 60% auto;
  }

  #about-us .row .col .card-title {
    font-size: 1.5rem !important;
    /* padding-top: 5%; */
  }

  #about-us .row .col .card-body .btn {
    width: 25%;
  }

  /* service */
  .mobile-services {
    display: none;
  }

  /* #products > div.col-md-4 > img {
    height: 17rem !important;
  } */

  /* clients */
  #our-clients .brand {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5% !important;
  }

  /* contact */
  #contact .r-maps .c-text .r-info {
    display: grid;
    grid-template-columns: 15% auto !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .top-nav {
    display: none;
  }

  .title {
    font-size: 1.7rem !important;
  }

  .text {
    font-size: 0.9rem !important;
  }

  .c-title {
    font-size: 1.4rem !important;
    color: var(--blue);
  }

  /* homepage */
  .title-hp {
    font-size: 4rem;
  }

  .sub-title {
    font-size: 1.1rem;
    padding-right: 50%;
  }

  /* about us */
  #about-us .row {
    display: grid;
    grid-template-columns: 60% auto;
  }

  #about-us .row .col .card-title {
    font-size: 1.5rem !important;
    /* padding-top: 5%; */
  }

  #about-us .row .col .card-body .btn {
    width: 19%;
  }

  /* services */
  .mobile-services {
    display: none;
  }

  #products > div.col-md-4 > img{
    height: 17rem !important;
  }

  /* .col .card .r-services .col-.md-8 .card-body .card-text{
    padding-right: 5%;
  } */

  #products > div.col-md-8.my-auto > div > div{
    padding-right: 5%;
  }

  /* clients */
  #our-clients .brand {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5% !important;
  }

  /* contact */
  #contact .text {
    align-self: center;
  }

  #contact .r-info {
    display: grid;
    grid-template-columns: 6% auto;
  }

  #contact .r-maps {
    grid-template-columns: 65% auto;
  }

  .location {
    width: 22rem;
    height: 13rem;
  }
}

/* LAPTOP & LAPTOP LARGE*/
@media (min-width: 1200px) and (max-width: 1439px) {
  .top-nav {
    display: none;
  }

  .title {
    font-size: 1.9rem !important;
  }

  .text {
    font-size: 1rem !important;
  }

  .c-title {
    font-size: 1rem !important;
    color: #0659a7;
  }

  .article-excerpt {
    font-size: 0.75rem;
  }

  /* navbar */
  .nav-container .side-nav .nav-menu .nav-item {
    margin-bottom: 5rem !important;
  }

  /* homepage */
  .title-hp {
    font-size: 4.5rem;
  }

  .sub-title {
    font-size: 1.3rem;
    padding-right: 50%;
  }

  /* about us */
  #about-us .row {
    display: grid;
    grid-template-columns: 63% auto;
  }

  #about-us .row .col .card-body .btn {
    width: 25%;
    margin-top: -2%;
  }

  /* service */
  .mobile-services {
    display: none;
  }

  /* clients */
  #our-clients .brand {
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
  }

  #our-clients .brand .col img {
    width: 80%;
    max-width: 80%;
  }

  /* contact */
  #contact .text {
    align-self: center;
  }

  #contact .r-info {
    display: grid;
    grid-template-columns: 6% auto;
  }

  #contact .r-info .col a, #contact .r-info .col p {
    font-size: 0.75rem;
  }

  #contact .r-maps {
    grid-template-columns: 65% auto;
  }

  .location {
    width: 22rem;
    height: 13rem;
  }

  /* footer */
  .footer {
    padding: 3% 10% 2% 15%;
  }

  body > footer > div > div.row.r-copyright > div > p {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
  }

  .footer .row .col-3{
    margin-bottom: 0.5rem;
  }

  .footer .row .col-4 img {
    width: 30% !important;
  }

  .footer .row .col-4 {
    margin-left: 0 !important;
  }

  .footer .row .page .c-title {
    font-size: 1.2rem !important;
  }

  .footer .row .page .list-group .list-group-item .text {
    font-size: 0.8rem !important;
  }

  .footer .row .r-copyright .col-10 {
    margin-right: 0.4rem !important;
  }

  .footer .row .r-copyright .copyright {
    font-size: 0.6rem;
  }

  body > footer > div > div.row.r-copyright > div > p {
    margin-top: -0.5rem;
  }

  /* .footer .row .r-copyright .col .social-icons .instagram {
    margin-right: 2rem !important;
  } */
}

/* DEKSTOP PC*/
@media (min-width: 1440px){
  .top-nav {
    display: none;
  }

  .title {
    font-size: 2.5rem !important;
  }

  .text {
    font-size: 1.5rem !important;
  }

  .c-title {
    font-size: 2rem !important;
    color: #0659a7;
  }

  /* navbar */
  .nav-container .side-nav .nav-menu .nav-item {
    margin-bottom: 14.5rem !important;
  }

  /* homepage */
  .title-hp {
    font-size: 6rem;
  }

  .sub-title {
    font-size: 1.5rem;
    padding-right: 45%;
  }

  /* about us */
  #about-us .row {
    display: grid;
    grid-template-columns: 60% auto;
  }

  #about-us .row .col .card-title {
    font-size: 2.5rem !important;
  }

  #about-us .row .col .card-text {
    font-size: 1.5rem !important;
  }

  /* service */
  .mobile-services {
    display: none;
  }

  .our-services-text {
    font-size: 13px;
  }

  /* clients */
  #our-clients .brand {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1rem;
  }

  /* contact */
  #contact .r-info {
    display: grid;
    grid-template-columns: 3% auto;
  }
}